@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300&display=swap');

* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}
body {
    background-color: rgba(160, 171, 201, 0.993);
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 10px;
    

}
h1 {
    color: #f5fafc;
    background-color: rgb(71, 72, 100);
    font-style:normal;
    font-size: x-large;
}

p {
    color: rgb(21, 21, 66);
    font-size: large;
    text-align:justify;
    font-weight: bold;
   
}
h3 {
    color: rgb(31, 31, 34);
    font-size: larger;
    font-weight: bold;
}
table {
    width: 30%;
    background-color: rgb(183, 211, 197);
    border-style: groove;
    border-color: rgb(10, 49, 49);
    border-collapse: collapse;
 }
 th, td {
    width: 25%;
    text-align: center;
    border: 2px solid rgb(10, 49, 49);
 }
 a:link {
     font-weight:bold;
     color:rgb(24, 24, 68)
     }
a:visited {
    font-weight:bold;
    color:rgb(39, 39, 141);
    font-style: italic;
}
#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: rgb(55, 51, 110);
    border-radius: 8px 8px 8px 8px;
}
button {
    width: 150px;
    height: 75px;
    background-color: rgb(172, 165, 165);
}

:hover{
    background-color: yellowgreen;
}